%h2
	= @user.name
%ul
	%li 
		User id: 
		%strong 
			= @user.id
	%li
		User nickname:
		%strong
			= @user.name
	%li
		User name:
		%strong
			= @user.nickname
	%li
		User email
		%strong
			= @user.email